<div [@routerTransition]>
  <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Invoice</th>
        <th>Customer</th>
        <th>Date of issue</th>
        <th>Due date</th>
        <th>Price</th>
        <th>Issuer</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of invoices; let i=index;">
        <th scope="row">1</th>
        <td>{{i.invoiceNumber}}</td>
        <td>{{i.supplier.address.name}}</td>
        <td>{{i.dueDate}}</td>
        <td>{{i.dateOfIssue}}</td>
        <td>{{i.total}}</td>
        <td>{{i.issuer.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
