<div [@routerTransition]>
  <app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col-xl-2">
    </div>
    <div class="col-xl-8">
      <button (click)="newUser()" class="btn btn-primary" type="button">Nový používateľ</button>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Login</th>
            <th>Meno</th>
            <th>Email</th>
            <th>Telefón</th>
            <th>Aktívny</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let i=index;">
            <td><a [routerLink]="['/users/user-detail/',user.uuid]">{{user.login}}</a></td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td><input type="checkbox" [(ngModel)]="user.enabled" disabled></td>
            <td><button (click)="removeUser(user.uuid)" [disabled]="user.login == 'admin'" class="btn btn-danger" type="button">Odstrániť</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xl-2">
    </div>
  </div>
  <!-- /.row -->
</div>
