<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar"/>
      <h1>ERP app</h1>
      <form #credentialsForm="ngForm" (ngSubmit)="onSubmit()" role="form">
        <div class="form-content">
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" id="username" name="username"
                   placeholder="{{ 'Login' | translate }}" #login="ngModel" [(ngModel)]="credentials.username">
          </div>

          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" id="password" name="password"
                   placeholder="{{ 'Password' | translate }}" #password="ngModel" [(ngModel)]="credentials.password">
          </div>
        </div>
        <button type="submit" class="btn rounded-btn">{{ 'Log in' | translate }}</button>
        &nbsp;
        <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
      </form>
    </div>
  </div>
</div>
