<div [@routerTransition]>
  <app-page-header [heading]="'User detail'" [icon]="'fa-table'"></app-page-header>

  <div class="row">
    <div class="col-xl-3">
    </div>
    <div class="col-xl-6">

      <form (ngSubmit)="onSubmit()" #userForm="ngForm" role="form">
        <div class="form-group">
          <label>Login</label>
          <input type="text" class="form-control" id="login" required [(ngModel)]="user.login" name="login"
                 placeholder="Prihlasovacie meno" #login="ngModel">
          <div [hidden]="login.valid || login.pristine" class="alert alert-danger">Prihlasovacie meno je povinné</div>
        </div>

        <div class="form-group">
          <label for="name">Meno</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name"
                 placeholder="Meno používateľa" #name="ngModel">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Meno používateľa je povinné</div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email"
                 placeholder="Emailová adresa používateľa" #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Emailová adresa používateľa je
            povinná
          </div>
        </div>
        <div class="form-group">
          <label>Telefón</label>
          <input type="text" class="form-control" id="phone" [(ngModel)]="user.phone" name="phone"
                 placeholder="Telefón používateľa" #phone="ngModel">
        </div>
        <br/>
        <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>

      </form>

    </div>
    <div class="col-xl-3">
    </div>
  </div>
</div>
